# Object files
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
*.su
/DMXController.X/dist/default/
/DMXController.X/nbproject/private
*.d
/nbproject/private/
